@font-face {
    font-family: "Norse";
    src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
         url("./fonts/norse-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(0, 0%, 95%)
}

.logo-container {
    width: clamp(400px, 40%, 650px);
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: 
        url(./img/bg_pine.jpg)
        top right / cover
        hsl(130, 3%, 38%);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 32px;
    margin: 25vh 0;
    font-family: "Norse", sans-serif;
    font-size: 2.5rem;
    
    background: hsla(0, 0%, 0%, 0.445);
    color: hsl(0, 0%, 100%);
}

.img-credit {
    justify-self: flex-end;
    align-self: center;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
    text-shadow: 0 0 6px hsla(0, 0%, 0%, 0.9);
    font-size: 0.8rem;
}

.img-credit a {
    color: hsl(0, 0%, 100%);
}

.content-container {
    flex: 1;
}

.info {
    font-weight: bold;
    padding: 16px 32px;
    max-width: 550px;
}

.sign-up-btn {
    margin-left: 32px;
    margin-top: 32px;
    padding: 8px 32px;
    border: none;
    border-radius: 4px;
    background: hsl(90, 6%, 36%);
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.2);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 100ms;
}

.sign-up-btn:hover {
    background: hsl(90, 5%, 44%);
}

.log-in {
    margin-left: 32px;
}

.log-in a {
    color: hsl(90, 14%, 44%);
    font-weight: bold;
    text-decoration: none;
}

.log-in a:hover {
    color: hsl(90, 16%, 36%);
    text-decoration: underline;
}

#sign-up {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.2);
    align-self: stretch;
}

.form-row {
    display: flex;
    gap: 48px;
}

.form-field input {
    display: block;
    border: 1px solid hsl(0, 0%, 83%);
    border-radius: 2px;
    padding: 4px 8px;
}

.form-field input:focus {
    outline: 1px solid hsl(219, 100%, 58%);
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.2);
}

.form-field[type="password"] input:invalid, 
.form-field input:user-invalid {
    border: 1px solid hsl(0, 69%, 54%);
}

.form-field label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    letter-spacing: 1px;
}

.form-header {
    font-weight: bold;
    font-size: 1.25rem;
}