@font-face {
    font-family: "Norse";
    src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
         url("./fonts/norse-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243)
}

.logo-container {
    width: clamp(400px, 40%, 650px);
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: 
        url(./img/bg_pine.jpg)
        top right / cover
        rgb(93, 99, 94);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 32px;
    margin: 25vh 0;
    font-family: "Norse", sans-serif;
    font-size: 2.5rem;
    
    background: rgba(0, 0, 0, 0.445);
    color: #FFF;
}

.img-credit {
    justify-self: flex-end;
    align-self: center;
    margin-bottom: 10px;
    color: #FFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
    font-size: 0.8rem;
}

.img-credit a {
    color: #FFF;
}

.info {
    font-weight: bold;
    padding-left: 32px;
}

.sign-up-btn {
    padding: 8px 32px;
    border: none;
    border-radius: 4px;
    background: rgb(93, 99, 87);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 100ms;
}

.sign-up-btn:hover {
    background: rgb(111, 117, 105);
}

.log-in a {
    color: rgb(113, 129, 97);
    font-weight: bold;
    text-decoration: none;
}

.log-in a:hover {
    color: rgb(92, 107, 77);
    text-decoration: underline;
}

#sign-up {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-row {
    display: flex;
    gap: 48px;
}

.form-field input {
    display: block;
}

.form-header {
    font-weight: bold;
    font-size: 1.25rem;
}