@font-face {
    font-family: "Norse";
    src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
         url("./fonts/norse-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

:root {
    /* Color Palette */
    --grey-black: hsl(0, 0%, 5%);
    --grey-light: hsl(0, 0%, 85%);
    --grey-lighter: hsl(0, 0%, 95%);
    --white: hsl(0, 0%, 100%);

    --dark-green: hsl(90, 6%, 36%);
    --dark-green-alt: hsl(90, 6%, 43%);

    --green: hsl(90, 14%, 44%);
    --green-alt: hsl(90, 14%, 49%);

    --blue: hsl(219, 100%, 58%);
    --red: hsl(0, 69%, 54%);

    --shadow-dark: hsla(0, 0%, 0%, 0.9);
    --shadow-medium: hsla(0, 0%, 0%, 0.445);
    --shadow-light: hsla(0, 0%, 0%, 0.2);

    /* Palette Usage */
    --main-bg: var(--grey-lighter);

    --form-bg: var(--white);
    --form-text: var(--grey-black);
    --form-shadow: var(--shadow-light);

    --input-text: var(--grey-black);
    --input-shadow-focus: var(--shadow-light);
    --input-outline: var(--grey-light);
    --input-outline-focus: var(--blue);
    --input-outline-invalid: var(--red);

    --btn-bg: var(--dark-green);
    --btn-bg-hover: var(--dark-green-alt);
    --btn-text: var(--white);
    --btn-shadow: var(--shadow-light);

    --link: var(--green);
    --link-hover: var(--green-alt);

    --logo-text: var(--white);
    --logo-bg: var(--shadow-medium);

    --credit-text: var(--white);
    --credit-bg: var(--shadow-dark);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-bg);
}

.header {
    width: clamp(400px, 40%, 650px);

    display: flex;
    flex-direction: column;

    background: 
        url(./img/bg_pine.jpg)
        top right / cover
        var(--dark-green);
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 32px;
    margin: 25vh 0;
    font-family: "Norse", sans-serif;
    font-size: 2.5rem;
    
    background: var(--logo-bg);
    color: var(--logo-text);
}

.header .img-credit {
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
    color: var(--credit-text);
    text-shadow: 0 0 6px var(--credit-bg);
    font-size: 0.8rem;
}

.header .img-credit a {
    color: var(--credit-text);
}

.content-container {
    align-self: center;
    flex: 1;
}

.info {
    font-weight: bold;
    padding: 16px 32px;
    max-width: 550px;
}

form#sign-up {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--form-bg);
    box-shadow: 2px 2px 6px var(--form-shadow);
    align-self: stretch;
}

.form-row {
    display: flex;
    gap: 48px;
}

.form-field input {
    display: block;
    border: 1px solid var(--input-outline);
    border-radius: 2px;
    padding: 4px 8px;
}

.form-field input:focus {
    outline: 1px solid var(--input-outline-focus);
    box-shadow: 2px 2px 4px var(--input-shadow-focus);
}

.form-field input[type="password"]:invalid, 
.form-field input:user-invalid {
    border: 1px solid var(--input-outline-invalid);
}

.form-field > input[type="password"]:invalid + span::after {
    content: '* Passwords do not match';
    position: absolute;
    font-size: 0.6rem;
    color: var(--input-outline-invalid);
}

.form-field label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    letter-spacing: 1px;
}

.form-header {
    font-weight: bold;
    font-size: 1.25rem;
}

.sign-up-btn {
    margin-left: 32px;
    margin-top: 32px;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    background: var(--btn-bg);
    box-shadow: 2px 2px 4px var(--btn-shadow);
    color: var(--btn-text);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 100ms;
}

.sign-up-btn:hover {
    background: var(--btn-bg-hover);
}

.log-in {
    margin-left: 32px;
    font-size: 0.8rem;
}

.log-in a {
    color: var(--link);
    font-weight: bold;
    text-decoration: none;
}

.log-in a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}